html {
    background-color: darkslategray;
}
p {
    margin:0;
    padding:0;
    border: 0;
}

/*
***********************************************
HEADER
***********************************************
*/


.App-header {
    display: block;
    text-align: center;
}

.nav {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: orangered;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.navLogo {
    font-size: 24px;
    padding-right: 30px;
}

.nav-adopt-dropdown {
    position: relative;
    display: inline-block;
    font-size: 24px;
    padding-left: 30px
}

.adopt-dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    width: 90px;
    z-index: 3;
}

.nav-adopt-dropdown:hover .adopt-dropdown-content {
    display: block;
}

.adopt-dropdown-content span:hover {
    background: lightsteelblue;
}

.adopt-dropdown-content span {
    display: block;
}

.navSearch {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navAbUs {
    font-size: 24px;
    padding-left: 30px;
    float: right;
    padding-right: 21px;
}

.navButt {
    padding-top: 6px;
    padding-bottom: 6px;
}


/* 
*********************************************
CONTENT
*********************************************
*/

.content {
    display: flex;
    flex-direction: row;
    max-width: 3000px;
}

.image-gallery-container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.image-gallery {
    min-width: 1000px;
    max-width: 80%;
    
}
.image-gallery-thumbnails {
    display: none;
}

.adopt-title {
    left: 273px;
    z-index: 2;
    position: absolute;
    font-size: 18px;
    font-weight: 702;
}

.doggo-info {
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 45px;
}

.doggo-name {width: 900px;}

.doggo-age {width: 900px;}

.doggo-breed {width: 900px;}

.content-fixed {width: 900px;}

.doggo-weight {width: 900px;}

.content-location {width: 900px;}

.right-column-shelters {
    flex-direction: column;
    position: absolute;
    width: 255px;
    height: 2000px;
    font-size: 45px;
    right: 0px;
    padding-left: 12px;
    border-left: 3px solid white;
}

.right-column-title {
    display: block;
    text-decoration: underline;
    font-size: 60px;
}